<div class="w-full p-4">
  <form
    action=""
    class="flex flex-col justify-center items-center"
  >
    <div class="w-full">
      <!-- Pregunta 1 Entidad -->
      <label for="selected-entity" class="py-2"
        >Seleccione una entidad de origen de los Datos:
        <i
          class="pi pi-question-circle"
          title="Es la entidad de origen de los datos, &#10;al momento de hacer el preprocesamiento es necesario especificar el origen del dataset&#10;NOTA: esta entidad se puede agregar en en area de entidades en el caso de que no exista."
        ></i
      ></label>
      <div class="flex mb-4 items-center justify-center">
        <select
          [(ngModel)]="this.selectedEntity"
          name="selected-entity"
          id=""
          class="border-[1px] border-gray-400 bg-primary p-2 my-2 rounded-md outline-secondary"
        >
          <option *ngFor="let entity of entities" [value]="entity">
            {{ entity.name }}
          </option>
        </select>
      </div>
      <!-- pregunta 2 necesita preprocesamiento -->
      <label for="default-radio-1" class="py-2"
        >El dataset seleccionado necesita un trabajo de preprocesamiento?</label
      >

      <div class="flex items-center mb-4">
        <input
          id="preprocessing-radio-1"
          type="radio"
          [value]="true"
          name="need-preprocessing"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          [(ngModel)]="this.needPreprocessing"
        />
        <label
          for="preprocessing-radio-1"
          class="ms-2 text-sm font-medium text-gray-900"
          >Si</label
        >
      </div>
      <div class="flex items-center py-2">
        <input
          checked
          id="preprocessing-radio-2"
          type="radio"
          [value]="false"
          name="need-preprocessing"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          [(ngModel)]="this.needPreprocessing"
        />
        <label
          for="preprocesing-radio-2"
          class="ms-2 text-sm font-medium text-gray-900"
          >No</label
        >
      </div>
      <!-- pregunta tres dejar las configuraciones por defecto -->
      <label for="selected-entity" class="py-2"
        >Desea que el preprocesamiento se realice automáticamente con las
        configuraciones por defecto?
        <i
          class="pi pi-question-circle"
          title="SI: el preprocesamiento se hará con las configuraciones por defecto &#10;NO: Se tiene que especificar cada paso con las columnas y técnica que se usara, en opciones avanzadas."
        ></i
      ></label>
      <div class="flex items-center mb-4">
        <input
          id="question-3-radio-1"
          type="radio"
          [value]="true"
          name="question-3-radio-1"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          [(ngModel)]="needSpecs"
          (ngModelChange)="onNeedSpecsChange($event)"
        />
        <label
          for="question-3-radio-1"
          class="ms-2 text-sm font-medium text-gray-900"
          >Si</label
        >
      </div>
      <div class="flex items-center py-2">
        <input
          checked
          id="question-3-radio-2"
          type="radio"
          [value]="false"
          name="question-3-radio-2"
          class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
          [(ngModel)]="needSpecs"
          (ngModelChange)="onNeedSpecsChange($event)"
        />
        <label
          for="question-3-radio-2"
          class="ms-2 text-sm font-medium text-gray-900"
          >No</label
        >
      </div>
    </div>

    <!-- accordion de opciones avanzadas  -->

    <div
      id="accordion-open"
      data-accordion="open"
      class="bg-slate-200 w-full disabled:opacity-50"
    >
      <div>
        <h2 id="accordion-open-heading-1">
          <button
            type="button"
            class="flex items-center justify-between w-full p-5 font-medium text-black border border-b-0 focus:ring-2 focus:ring-gray-200 hover:bg-blue-400 gap-3"
            data-accordion-target="#accordion-open-body-1"
            aria-controls="accordion-open-body-1"
            (click)="showAdvancedOptions($event)"
          >
            <span class="flex items-center text-start">
              <i class="pi pi-question-circle mx-4"></i>
              Opciones avanzadas
            </span>
            <svg
              data-accordion-icon
              class="w-3 h-3 shrink-0"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 10 6"
            >
              <path
                stroke="currentColor"
                strokeLinecap="round"
                strokeLinejoin="round"
                strokeWidth="2"
                d="M9 5 5 1 1 5"
              />
            </svg>
          </button>
        </h2>
        <div
          id="accordion-open-body-1"
          class="max-h-0 duration-300 overflow-hidden border-[1px] border-gray-400 h-full bg-primary"
          aria-labelledby="accordion-open-heading-1"
        >
          <!-- content Opciones avanzadas -->
          <div class="p-5 border border-t-0 border-gray-200 text-black">
            <div class="flex w-full flex-col justify-center items-center">
              <!-- contenedor de preguntas avanzadas -->
              <div class="w-full">
                <h1 class="font-bold">Limpieza de datos:</h1>
                <label for="cleanmode-radio-1" class="py-2"
                  >Que desea hacer con los datos incompletos</label
                >

                <div class="flex items-center">
                  <input
                    id="cleanmode-radio-1"
                    type="radio"
                    [value]="1"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.cleanMode"
                  />
                  <label
                    for="cleanmode-radio-1"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >Dejar que la herramienta use la opción mas
                    recomendada</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    checked
                    id="cleanmode-radio-2"
                    type="radio"
                    [value]="2"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.needPreprocessing"
                  />
                  <label
                    for="preprocesing-radio-2"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >Eliminación de datos incompletos</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    checked
                    id="cleanmode-radio-3"
                    type="radio"
                    [value]="3"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.cleanMode"
                  />
                  <label
                    for="preprocesing-radio-3"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >Imputación de datos incompletos</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    checked
                    id="cleanmode-radio-4"
                    type="radio"
                    [value]="4"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.cleanMode"
                  />
                  <label
                    for="preprocesing-radio-4"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >No hacer nada con los datos incompletos</label
                  >
                </div>
              </div>

              <!-- pregunta 2 -->
              <div class="flex w-full flex-col">
                <h1>Técnica de imputación de datos:</h1>
                <label for="cleanmode-radio-1" class="py-2"
                  >Que técnica de imputación usara:</label
                >

                <div class="flex items-center">
                  <input
                    checked
                    id="cleanmode-radio-2"
                    type="radio"
                    [value]="2"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.needPreprocessing"
                  />
                  <label
                    for="preprocesing-radio-2"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >KNN</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    checked
                    id="cleanmode-radio-3"
                    type="radio"
                    [value]="3"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.cleanMode"
                  />
                  <label
                    for="preprocesing-radio-3"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >Imputación de datos incompletos</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    checked
                    id="cleanmode-radio-4"
                    type="radio"
                    [value]="4"
                    name="cleanmode"
                    class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                    [(ngModel)]="this.cleanMode"
                  />
                  <label
                    for="preprocesing-radio-4"
                    class="ms-2 text-sm font-medium text-gray-900"
                    >No hacer nada con los datos incompletos</label
                  >
                </div>
              </div>
              <!-- fin pregunta 2 -->
            </div>

            <!-- salida de acciones -->
          </div>

          <!-- fin contenedor opciones avanzadas -->

          <!-- Contenedor parte de opciones manuales -->
          <div class=""></div>
        </div>
      </div>
    </div>
    <div class="mb-6 w-full">
      <div class="flex w-full flex-col justify-between">
        <label for="" class="my-4"
          >Generar configuración de preprocesamiento:
        </label>
        <div class="w-full flex flex-col items-center justify-center my-4">
          <!-- botón de generar configuración de preprocesamiento -->

          <button class="bg-secondary p-4 w-[200px] text-primary rounded-md">
            <i class="pi pi-cog"></i>
            Generar Configuración
          </button>
          <!-- area de acciones manuales -->

          <h1 class="font-bold"></h1>
        </div>
        <label for="">Agregar pasos de preprocesamiento manuales:</label>
        <div class="w-full flex flex-col items-center justify-center my-4">
          <button
            class="p-4 bg-secondary w-[200px] rounded-md text-primary"
            (click)="showSelectionDialog()"
          >
            <i class="pi pi-plus-circle"></i>
            Agregar Acción
          </button>
        </div>
        <div class="relative overflow-x-auto shadow-md rounded-lg w-full">
          <label class="block font-semibold my-2"
            >Acciones del preprocesamiento</label
          >
          <table class="w-full text-sm text-left text-gray-700">
            <thead class="text-xs uppercase bg-gray-100 text-gray-700">
              <tr>
                <th class="px-6 py-3">Acciones</th>
                <th class="px-6 py-3">Orden de aplicación</th>
                <th class="px-6 py-3">Técnica</th>
                <th class="px-6 py-3">Valor a enviar</th>
                <th class="px-6 py-3">Columnas afectadas</th>

                <!-- <th class="px-6 py-3">Rol</th> -->
              </tr>
            </thead>
            <tbody>
              @for (steps of preprocessingSteps; track steps; let i = $index) {
              <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4">
                  <button
                    class="bg-red-400 text-white p-2 rounded-md text-center"
                    (click)="deleteStep(i)"
                  >
                    <i class="pi pi-trash"></i>
                  </button>
                </td>
                <td class="px-6 py-4">{{ i + 1 }}</td>
                <td class="px-6 py-4">{{ steps.technique }}</td>
                <td class="px-6 py-4">{{ steps.value }}</td>
                <td class="px-6 py-4">{{ extractNames(steps.columns) }}</td>

                <!-- <td class="px-6 py-4">{{ user.role.name }}</td> -->
              </tr>
              } @empty {
              <tr>
                <td colspan="4" class="text-center px-4 py-4 text-gray-500">
                  No se ha especificado un paso de preprocesamiento
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <p-button
      class="m-5"
      label="Iniciar Pre-Procesamiento"
      severity="primary"
      
      icon="pi pi-file"
      (onClick)="onSubmitPreprocessing($event)"
    />

    <!-- <button type="submit" class="mr-5 p-4 bg-secondary text-primary rounded-md">
      <i class="pi pi-cog">
        Iniciar Preprocesamiento
      </i>

    </button> -->

    <!-- salida de resultado de preprocesamiento -->

    <!-- progreso de la carga -->
    <div
      class="mt-8 p-4 bg-blue-50 border border-blue-200 rounded-lg w-full"
      *ngIf="this.showProgress === true"
    >
      <!-- <div
    *ngIf="showUploadProgress"
    class="mt-8 p-4 bg-blue-50 border border-blue-200 rounded-lg"
  > -->
      <h3 class="text-lg font-semibold text-blue-800 mb-2">
        Estado de Preprocesamiento: {{ preprocessingStatus }}
      </h3>
      <div class="w-full bg-gray-200 rounded-full h-4 relative">
        <div
          class="bg-blue-500 h-4 rounded-full transition-all duration-300 ease-out"
          [style.width.%]="preprocessingProgress"
        ></div>
        <span
          class="absolute right-2 top-0 text-xs font-bold text-gray-800 leading-4"
        >
          {{ preprocessingProgress | number : "1.0-0" }}%
        </span>
      </div>
      <textarea class="text-sm text-blue-700 mt-2 w-full h-[100px]" disabled>
        {{ outMessage }}
      </textarea>
      <button
        *ngIf="uploadProgress === 100 || uploadStatus === 'Error'"
        (click)="resetUploadProgress()"
        class="mt-4 bg-gray-300 hover:bg-gray-400 text-gray-800 py-1 px-3 rounded text-sm"
      >
        Cerrar
      </button>
    </div>
  </form>

  <!-- dialog de eleccion -->
  <p-dialog
    [(visible)]="show_selection_dialog"
    [modal]="true"
    [style]="{ width: '90%' }"
  >
    <ng-template #header>
      <span class="font-bold whitespace-nowrap"
        >Selección de características</span
      >
    </ng-template>

    <span class="text-gray-500 block mb-6"
      >Seleccione las columnas y la técnica que se usara en estas:</span
    >

    <div class="mb-6">
      <label class="block font-semibold mb-2">Técnica</label>
      <select
        [(ngModel)]="technique_selected"
        class="border border-gray-400 outline-secondary rounded-md p-2 w-full"
      >
        <option
          *ngFor="let technique of clean_methods"
          [value]="technique.value"
        >
          {{ technique.name }}
          <i
            class="pi pi-question-circle bg-black"
            title="technique.description"
          ></i>
        </option>
      </select>
    </div>
    <!-- valor fijo a agregar NOTA: Esto solo se visualizara cuando se elija la técnica de imputación por valores fijos-->

    <div *ngIf="technique_selected == 'const_value'">
      <label for="in_const_value" class="block font-semibold mb-2"
        >Texto a agregar en datos faltantes:
        <i
          class="pi pi-question-circle"
          title="Este es el valor fijo que se va a remplazar en los las columnas seleccionadas "
        ></i>
      </label>
      <input
        id="in_const_value"
        type="text"
        placeholder="Ingrese el valor constante"
        class="p-2 border-gray-400 outline-secondary border-[1px] my-2 rounded-md w-full"
      />
    </div>
    <div *ngIf="technique_selected == 'delete'">
      <label for="in_delete" class="block font-semibold mb-2"
        >Porcentaje de atributos vacíos:
        <i
          class="pi pi-question-circle"
          title="Este valor representa el porcentaje de atributos vacíos que tiene que tener el dato para ser eliminado"
        ></i
      ></label>
      <input
        type="range"
        id="in_delete"
        name="in_delete"
        min="0"
        [max]="100"
        step="1"
        [(ngModel)]="numberToUseOnDelete"
      />
      Valor: {{ numberToUseOnDelete }}
    </div>

    <div class="mb-6">
      <div class="flex w-full justify-between">
        <div class="relative overflow-x-auto shadow-md rounded-lg w-[48%]">
          <label class="block font-semibold mb-2"
            >Características de dataset</label
          >
          <table class="w-full text-sm text-left text-gray-700">
            <thead class="text-xs uppercase bg-gray-100 text-gray-700">
              <tr>
                <th class="px-6 py-3">
                  <input
                    type="checkbox"
                    [(ngModel)]="isSelectedAll"
                    (change)="toggleAllColumns($event.target.checked)"
                    class="w-4 h-4 text-blue-600 border-gray-300 rounded"
                  />
                </th>
                <th class="px-6 py-3">Nombre Característica</th>
                <th class="px-6 py-3">Tipo de Dato</th>
                <!-- <th class="px-6 py-3">Rol</th> -->
              </tr>
            </thead>
            <tbody>
              @for (column of dataset.files[0].columns; track column) {
              <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4">
                  <input
                    type="checkbox"
                    [checked]="selectedColumns.includes(column)"
                    (change)="
                      toggleColumnSelection(column, $event.target.checked)
                    "
                    class="w-4 h-4 text-blue-600 border-gray-300 rounded"
                  />
                </td>
                <td class="px-6 py-4">{{ column.name }}</td>
                <td class="px-6 py-4">{{ column.column_type.name }}</td>
                <!-- <td class="px-6 py-4">{{ user.role.name }}</td> -->
              </tr>
              } @empty {
              <tr>
                <td colspan="4" class="text-center px-4 py-4 text-gray-500">
                  No hay información de las columnas disponible.
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
        <div class="relative overflow-x-auto shadow-md rounded-lg w-[48%]">
          <label class="block font-semibold mb-2"
            >Características seleccionadas</label
          >
          <table class="w-full text-sm text-left text-gray-700">
            <thead class="text-xs uppercase bg-gray-100 text-gray-700">
              <tr>
                <th class="px-6 py-3">Nombre Característica</th>
                <th class="px-6 py-3">Tipo de Dato</th>
                <!-- <th class="px-6 py-3">Rol</th> -->
              </tr>
            </thead>
            <tbody>
              @for (column of selectedColumns; track column) {
              <tr class="bg-white border-b hover:bg-gray-50">
                <td class="px-6 py-4">{{ column.name }}</td>
                <td class="px-6 py-4">{{ column.column_type.name }}</td>
                <!-- <td class="px-6 py-4">{{ user.role.name }}</td> -->
              </tr>
              } @empty {
              <tr>
                <td colspan="4" class="text-center px-4 py-4 text-gray-500">
                  No hay Columnas seleccionadas.
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <ng-template #footer>
      <p-button
        label="Cancelar"
        [text]="true"
        severity="secondary"
        (click)="show_selection_dialog = false"
      />
      <p-button
        label="Agregar Proceso"
        [outlined]="true"
        severity="secondary"
        (click)="share = false"
        (onClick)="savePreprocessStep()"
      />
    </ng-template>
  </p-dialog>
</div>
