<div class="min-h-screen flex items-center justify-center bg-[#fefcf7] px-4">
  <div
    class="bg-white rounded-xl shadow-md w-full max-w-md p-8 border border-gray-200"
  >
    <!-- Título -->
    <h2 class="text-2xl font-bold text-center text-[#027e6f] mb-2">
      Bienvenido
    </h2>
    <p class="text-center text-gray-600 mb-6">
      Ingresa tus credenciales para continuar
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="login($event)" class="space-y-6">
      <!-- Usuario -->
      <div>
        <label
          for="username"
          class="block mb-1 text-sm font-medium text-gray-700"
          >Usuario</label
        >
        <input
          pInputText
          id="username"
          type="text"
          formControlName="username"
          placeholder="Ingresa tu usuario"
          class="w-full rounded-lg border border-gray-300 px-4 py-2 focus:outline-none focus:ring-2 focus:ring-[#027e6f]"
          [class.p-invalid]="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
        />
        <small
          *ngIf="
            loginForm.get('username')?.invalid &&
            loginForm.get('username')?.touched
          "
          class="text-red-500 text-xs mt-1 block"
        >
          El usuario es requerido.
        </small>
      </div>

      <!-- Contraseña -->
      <div>
        <label
          for="password"
          class="block mb-1 text-sm font-medium text-gray-700"
          >Contraseña</label
        >
        <p-password
          inputId="password"
          formControlName="password"
          placeholder="Ingresa tu contraseña"
          [feedback]="false"
          toggleMask="true"
          styleClass="w-full"
          [inputStyle]="{
            width: '100%',
            padding: '0.5rem 1rem',
            borderRadius: '0.5rem',
            border: '1px solid #d1d5db'
          }"
        />

        <small
          *ngIf="
            loginForm.get('password')?.invalid &&
            loginForm.get('password')?.touched
          "
          class="text-red-500 text-xs mt-1 block"
        >
          La contraseña es requerida.
        </small>
      </div>

      <!-- Botón -->
      <div>
        <button
          type="submit"
          class="w-full bg-[#027e6f] hover:bg-[#02695d] text-white font-semibold py-2 rounded-lg transition disabled:opacity-50 disabled:cursor-not-allowed"
          [disabled]="loginForm.invalid || isSubmitting"
        >
          <span *ngIf="!isSubmitting">Iniciar Sesión</span>
          <span *ngIf="isSubmitting">Cargando...</span>
        </button>
      </div>

      <!-- Enlaces -->
      <div class="flex justify-between text-sm text-gray-500">
        <a href="#" class="hover:underline">¿Olvidaste tu contraseña?</a>
        <a href="#" class="hover:underline">Crear cuenta</a>
      </div>
    </form>
  </div>
</div>
