<div class="flex items-center justify-center min-h-screen bg-surface-50 dark:bg-surface-800">
  <div class="card p-6 shadow-md bg-surface-0 dark:bg-surface-900 rounded-border w-full sm:w-[30rem]">
    <h2 class="text-center mb-4">Bienvenido</h2>
    <p class="text-center mb-6 text-secondary">Por favor, ingresa tus credenciales</p>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <!-- Campo de Usuario -->
      <div class="flex  flex-col  mb-6">
        <label for="username" class="flex text-surface-900 dark:text-surface-0 font-medium mb-2">Usuario</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">
              <!-- <i class="pi pi-user"></i> -->
          </span>
          <div class="flex-col w-full rounded-border mb-4">
            <input
            id="username"
            type="text"
            pInputText
            placeholder="Ingresa tu usuario"
            formControlName="username"
            [class.ng-invalid]="loginForm.get('username')?.invalid && loginForm.get('username')?.touched"
          />
        </div>
        <small *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="p-error">
          El usuario es requerido.
        </small>
          </div>

      </div>

      <!-- Campo de Contraseña -->
      <div class="flex  flex-col  mb-6">
        <label for="password" class="flex text-surface-900 dark:text-surface-0 font-medium mb-2">Contraseña</label><br>
        <p-password
          class="flex-col w-full rounded-border mb-4"
          id="password"
          placeholder="Ingresa tu contraseña"
          formControlName="password"
          toggleMask
          [feedback]="false"
        ></p-password>
        <small *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="p-error">
          La contraseña es requerida.
        </small>
      </div>

      <!-- Botón de inicio de sesión -->
      <p-button
        label="Iniciar Sesión"
        type="submit"
        [loading]="isSubmitting"
        [disabled]="loginForm.invalid"
        class="w-full"
      ></p-button>

      <!-- Enlaces auxiliares -->
      <div class="flex justify-between mt-6">
        <a href="#" class="text-secondary text-sm no-underline hover:underline">Olvidé mi contraseña</a>
        <a href="#" class="text-secondary text-sm no-underline hover:underline">Crear cuenta</a>
      </div>
    </form>
  </div>
</div>
