<div class="flex items-center justify-center h-screen bg-surface-50 dark:bg-surface-800">
  <div class="p-8 rounded-border shadow bg-white text-center w-10/12 md:w-6/12 lg:w-4/12">
    <h1 class="mb-4">Bienvenido a <span class="text-primary">Anonify</span></h1>
    <p class="text-surface-600 dark:text-surface-200 mb-8">
      Protege tus datos y garantiza tu privacidad con nuestras técnicas avanzadas de anonimización.
    </p>
    <p-button
      pButton
      type="button"
      label="Empezar"
      icon="pi pi-arrow-right"
      class="w-full p-button-raised p-button-primary"
      routerLink="/a"
    >
    </p-button>
    <div class="card flex justify-center">
    <p-button label="Check" />
</div>
    <!-- (click)="onStart()"> -->
  </div>
</div>


