<section class="border-4 border-blue-700 w-screen min-h-screen">
  <div
    class="mx-auto px-4 sm:container pt-[120px] flex justify-center items-start"
  >
    <div
      class="items-start justify-between border-b border-stroke md:flex dark:border-dark-3"
    >
      <div class="mb-6 w-full">
        <!-- <h2 class="mb-2 text-2xl font-semibold text-dark">Notificaciones</h2> -->
        <div class="border-b border-stroke">
          <h2 class="mb-2 text-2xl font-semibold text-dark">
            Informacion del usuario
          </h2>
        </div>

        <p class="text-sm font-medium text-body-color py-2">
          Aqui ver tu informacion de usuario y modificarla si es necesario.
          Puedes cambiar tu nombre, correo electrónico y contraseña. Asegúrate
          de que la información sea correcta y actualizada.
        </p>
        <div class="mb-6">
          <button
            class="inline-flex items-center justify-center whitespace-nowrap rounded-sm bg-secondary px-5 py-[10px] text-sm font-medium text-white hover:bg-secondary/90"
          >
            VOLVER A CARGAR
            <span class="pl-2">
              <i class="pi pi-refresh"></i>
            </span>
          </button>
        </div>
        <!-- information container -->

        <div>
          <div class="px-4 sm:px-0">
            <h3 class="text-base/7 font-semibold text-gray-900">
              Applicant Information
            </h3>
            <p class="mt-1 max-w-2xl text-sm/6 text-gray-500">
              Personal details and application.
            </p>
          </div>
          <div class="mt-6 border-t border-gray-100">
            <dl class="divide-y divide-gray-100">
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">Full name</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                  Margot Foster
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">
                  Application for
                </dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                  Backend Developer
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">
                  Email address
                </dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                  margotfoster
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">
                  Salary expectation
                </dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                  $120,000
                </dd>
              </div>
              <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm/6 font-medium text-gray-900">About</dt>
                <dd class="mt-1 text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
                  Fugiat ipsum ipsum deserunt culpa aute sint do nostrud anim
                  incididunt cillum culpa consequat. Excepteur qui ipsum aliquip
                  consequat sint. Sit id mollit nulla mollit nostrud in ea
                  officia proident. Irure nostrud pariatur mollit ad adipisicing
                  reprehenderit deserunt qui eu.
                </dd>
              </div>
            </dl>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
