<p-menu
  [model]="items"
  class="w-full bg-white border-0 shadow-md"
  styleClass="w-full max-w-xs text-[#027e6f]"
>
  <ng-template #start>
    <div class="flex items-center gap-2 px-4 py-3">
      <span class="text-xl font-bold">Anonify</span>
    </div>
  </ng-template>

  <ng-template #item let-item>
    <a
      pRipple
      class="flex items-center px-4 py-3 hover:bg-[#e6f7f5] transition-all"
      [routerLink]="item.routerLink"
      routerLinkActive="font-bold bg-[#e6f7f5]"
      [routerLinkActiveOptions]="{ exact: true }"
      *ngIf="item.visible !== false"
    >
      <i [ngClass]="item.icon" class="mr-3"></i>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>

<ng-template #end>
  <div
    class="flex items-center px-4 py-3 cursor-pointer hover:bg-gray-100 rounded transition"
    (click)="navigateToUserInfo()"
    title="Ver información de usuario"
  
  >
    <p-avatar
      class="mr-3"
      shape="circle"
      styleClass="bg-[#02695d] text-white font-semibold"
      size="large"
      [label]="userName ? userName.charAt(0).toUpperCase() : '?'"
      icon="pi pi-user"
    />
    <div class="text-sm">
      <div class="font-bold">{{ userName }}</div>
      <div class="text-gray-500 text-xs">{{ userRole }}</div>
    </div>
  </div>
</ng-template>


</p-menu>
