<div class="flex flex-col justify-center items-center pt-2">
  <span class="flex text-muted"
    >Selecciona un archivo y presiona en "Cargar" para subirlo.</span
  >
  <div
    class="flex card p-6 bg-surface-0 dark:bg-surface-900 shadow rounded-border m-4"
    style="max-width: 75%"
  >
    <p-toast></p-toast>
    <p-fileupload
      name="demo[]"
      url="https://www.primefaces.org/cdn/api/upload.php"
      (onUpload)="onUpload($event)"
      [multiple]="false"
      accept=".csv, .txt"
      maxFileSize="1000000"
      mode="advanced"
    >
      <!-- Plantilla para contenido adicional si es necesario -->
      <ng-template #content>
        <div *ngIf="uploadedFiles.length">
        <ul>
          <li *ngFor="let file of uploadedFiles">
            {{ file.name }} - {{ file.size }} bytes
          </li>
        </ul>
        <button
          pButton
          label="Continuar"
          class="mt-4 w-full"
          (click)="goToPreview()"
        ></button>
        </div>
      </ng-template>
    </p-fileupload>
  </div>
</div>
